<div class="card p-4 my-3 border-secondary">
    <header>
        <div class="d-flex align-items-center">
            <h4 class="m-0 d-inline">Create New Post</h4>
            <i class="far fa-edit fa-lg px-3 d-inline"></i>
        </div>
        <hr class="border-secondary">
    </header>

    <form>
        <label for="post-title">Title:</label>
        <input type="text" name="post-title" id="post-title" class="p-2 mb-2 w-100">

        <label for="post-body">Body:</label>
        <textarea name="post-body" id="post-body" cols="30" rows="3" class="p-2 mb-2 w-100"></textarea>

        <button type="submit" id="submit-post" class="btn btn-primary float-right">Submit</button>
    </form>
</div>
