<div class="container">
    <div class="row justify-content-md-center">
        <div class="card window mx-auto mt-5 mx-4 p-5 signup">

            <h2>Login</h2>

            <form class="mb-3 login">
                <div class="form-group">
                    <label for="email-input">Email address</label>
                    <input type="email" class="border-0 form-control" id="email-input" placeholder="Email">
                </div>

                <div class="form-group">
                    <label for="password-input">Password</label>
                    <input type="password" class="border-0 form-control" id="password-input" placeholder="Password">
                </div>

                <div class="alert alert-danger" id="login-alert" role="alert">
                    <i class="fas fa-times-circle d-inline"></i>
                    <span id="error-message"></span>
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
            </form>

            <p>Or sign up <a href="/signup">here</a></p>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="./js/login.js"></script>