<main>
    <div class="container mt-4 d-flex">

        <div class="col-3">
            <div class="p-3 mb-3 rounded d-flex align-items-center sidebar active">
                <i class="fas fa-home"></i>
                <span class="m-0 px-3">|</span>
                <a href="" class="link active">Home</a>
            </div>

            <div class="p-3 mb-3 text-white rounded d-flex align-items-center sidebar">
                <i class="fas fa-user"></i>
                <span class="m-0 px-3">|</span>
                <a href="/profile" class="link">Profile</a>
            </div>

            <div class="p-3 mb-3 text-white rounded d-flex align-items-center sidebar">
                <i class="fas fa-cog"></i>
                <span class="m-0 px-3">|</span>
                <a href="" class="link">Settings</a>
            </div>

            <div class="p-3 mb-3 text-white rounded d-flex align-items-center sidebar">
                <i class="fas fa-sign-out-alt"></i>
                <span class="m-0 px-3">|</span>
                <a href="/logout" class="link">Logout</a>
            </div>
        </div>

        <div class="col-6 feed-div">
            <div class="mb-3">
                <form class="border-0 rounded d-flex" id="search-bar">
                    <input type="text" placeholder="Search" class="px-3 py-2 w-100 text-white border-0" id="search-input">
                    <button type="submit" class="btn text-white border-0" id="search-button">
                        <i class="fas fa-search px-2 py-1" id="search-icon"></i>
                    </button>
                </form>
            </div>

            <div class="modal fade" id="new-post-modal" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <header class="modal-header text-white">
                            <h4 class="modal-title d-inline">New Post</h4>
                            <i class="far fa-edit fa-lg px-3 d-inline align-self-center"></i>
                            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                <span>&times;</span>
                            </button>
                        </header>

                        <div class="modal-body text-white">
                            <form>
                                <label for="post-title">Title</label>
                                <input type="text" name="post-title" class="p-2 mb-2 w-100 border-0 rounded" id="post-title">

                                <label for="post-body">Body</label>
                                <textarea name="post-body" cols="30" rows="3" class="p-2 mb-3 w-100 border-0 rounded" id="post-body"></textarea>
                            </form>
                        </div>

                        <footer class="modal-footer">
                            <button type="submit" class="btn btn-primary float-right" id="submit-post">Submit</button>
                        </footer>
                    </div>
                </div>
            </div>

            <div class="feed">
                {{#each posts}}
                    {{> posts/new-post}}
                {{else}}
                    <div class="card mb-3 text-center text-white">
                        <p class="p-4 m-0">No posts...</p>
                    </div>
                {{/each}}
            </div>
        </div>

        <div class="col-3">
            <div class="p-3 mb-3 text-white rounded d-flex align-items-center justify-content-end sidebar">
                <a href="" class="link">All Users</a>
                <span class="m-0 px-3">|</span>
                <i class="fas fa-users"></i>
            </div>

            <div class="p-3 mb-3 text-white rounded d-flex align-items-center justify-content-end sidebar">
                <a href="" class="link">All Posts</a>
                <span class="m-0 px-3">|</span>
                <i class="fas fa-address-card"></i>
            </div>

            <div class="p-3 mb-3 text-white rounded d-flex align-items-center justify-content-end sidebar">
                <button type="button" class="btn p-0 text-white" id="new-post" data-toggle="modal" data-target="#new-post-modal">New Post</button>
                <span class="m-0 px-3">|</span>
                <i class="fas fa-plus"></i>
            </div>
        </div>

    </div>
</main>
