<header>
    <h1 class="p-4 m-0 bg-dark text-white text-center">Project 2 Website</h1>
</header>

<main>
    <div class="container my-4 d-flex">

        <div class="col-3">
            <div class="card p-4 border-secondary">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, saepe animi alias ut iste nulla cumque
                    quasi maiores aliquam minus et at nostrum hic laboriosam, nemo voluptate modi blanditiis sequi?</p>
            </div>
        </div>

        <div class="col-6">
            <div>
                <form class="border border-secondary rounded d-flex">
                    <input type="text" placeholder="Search" class="p-2 border-0 w-100" id="search-bar">
                    <button type="submit" class="btn text-secondary border-0" id="search-button">
                        <i class="fas fa-search py-1" id="search-icon"></i>
                    </button>
                </form>
            </div>

            <div class="card p-4 my-3 border-secondary">
                <header>
                    <div class="d-flex align-items-center">
                        <h4 class="m-0 d-inline">Create New Post</h4>
                        <i class="far fa-edit fa-lg px-3 d-inline"></i>
                    </div>
                    <hr class="border-secondary">
                </header>

                <form>
                    <label for="post-title">Title:</label>
                    <input type="text" name="post-title" class="p-2 mb-2 w-100" id="post-title">

                    <label for="post-body">Body:</label>
                    <textarea name="post-body" cols="30" rows="3" class="p-2 mb-2 w-100" id="post-body"></textarea>

                    <button type="submit" class="btn btn-primary float-right" id="submit-post">Submit</button>
                </form>
            </div>

            <div>
                {{#each posts}}
                    {{> posts/new-post}}
                {{/each}}
            </div>
        </div>

        <div class="col-3">
            <div class="card p-4 border-secondary">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, saepe animi alias ut iste nulla cumque
                    quasi maiores aliquam minus et at nostrum hic laboriosam, nemo voluptate modi blanditiis sequi?</p>
            </div>
        </div>

    </div>
</main>
