<main>
    <div class="container my-4 d-flex">

        {{!-- Left Sidebar --}}
        <div class="col-3">
            <div class="p-3 mb-3 text-white rounded d-flex align-items-center sidebar">
                <i class="fas fa-home"></i>
                <span class="m-0 px-3">|</span>
                <a href="/posts" class="link">Home</a>
            </div>

            <div class="p-3 mb-3 active rounded d-flex align-items-center sidebar">
                <i class="fas fa-user"></i>
                <span class="m-0 px-3">|</span>
                <a href="" class="link active">Profile</a>
            </div>

            <div class="p-3 mb-3 text-white rounded d-flex align-items-center sidebar">
                <i class="fas fa-cog"></i>
                <span class="m-0 px-3">|</span>
                <a href="" class="link">Settings</a>
            </div>

            <div class="p-3 mb-3 text-white rounded d-flex align-items-center sidebar">
                <i class="fas fa-sign-out-alt"></i>
                <span class="m-0 px-3">|</span>
                <a href="/logout" class="link">Logout</a>
            </div>
        </div>

        {{!-- Main --}}
        <div class="col-6 feed-div">
            {{!-- Search --}}
            <div class="mb-3">
                <form class="border-0 rounded d-flex" id="search-bar">
                    <input type="text" placeholder="Search" class="px-3 py-2 w-100 text-white border-0"
                        id="search-input">
                    <button type="submit" class="btn text-white border-0" id="search-button">
                        <i class="fas fa-search px-2 py-1" id="search-icon"></i>
                    </button>
                </form>
            </div>

            {{!-- Profile --}}
            <div class="feed">
                <div class="mb-3" id="profile-header">

                    {{!-- Profile Images --}}
                    <div>
                        <img class="w-100 rounded" id="profile-bg"
                            src="https://images.unsplash.com/photo-1572617574118-f5f753cef030?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60"
                            alt="...">
                        <img class="rounded-circle" id="profile-img"
                            src="https://img.favpng.com/7/0/0/clip-art-character-silhouette-animal-headgear-png-favpng-Ld0kGhegwYGDWXcP5VTdBp7c9.jpg"
                            alt="profile picture">
                    </div>

                    {{!-- Bio --}}
                    <div class="mb-3">
                        <h4><b>{{displayName}}</b></h4>
                        <h5>@{{username}}</h5>
                        <hr class="border-dark">

                        <i class="fas fa-bullhorn d-inline"></i>
                        <h6 class="d-inline">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad
                            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.
                        </h6>
                    </div>

                    {{!-- Social Links --}}
                    <div class="mb-3">
                        <!--Facebook-->
                        <a href="" class="fb-ic mr-3" role="button"><i class="fab fa-lg fa-facebook-f"></i></a>
                        <!--Twitter-->
                        <a href="" class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a>
                        <!--Linkedin-->
                        <a href="" class="li-ic mr-3" role="button"><i class="fab fa-lg fa-linkedin-in"></i></a>
                        <!--Instagram-->
                        <a href="" class="ins-ic mr-3" role="button"><i class="fab fa-lg fa-instagram"></i></a>
                        <!--Youtube-->
                        <a href="" class="yt-ic mr-3" role="button"><i class="fab fa-lg fa-youtube"></i></a>
                        <!--Github-->
                        <a href="" class="git-ic mr-3" role="button"><i class="fab fa-lg fa-github"></i></a>
                        <!--Email-->
                        <a href="" class="email-ic mr-3" role="button"><i class="far fa-lg fa-envelope"></i></a>
                    </div>
                </div>

                {{!-- User Posts --}}
                <div>
                    {{#each posts}}
                    {{> posts/new-post}}
                    {{else}}
                    <div class="card mb-3 text-center text-white">
                        <p class="p-4 m-0">No posts...</p>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

        {{!-- Right Sidebar --}}
        <div class="col-3">
            <div class="p-3 mb-3 text-white rounded d-flex align-items-center justify-content-end sidebar">
                <a href="" class="link">All Users</a>
                <span class="m-0 px-3">|</span>
                <i class="fas fa-users"></i>
            </div>

            <div class="p-3 mb-3 text-white rounded d-flex align-items-center justify-content-end sidebar">
                <a href="/all-post" class="link">All Posts</a>
                <span class="m-0 px-3">|</span>
                <i class="fas fa-address-card"></i>
            </div>
        </div>

    </div>
</main>