<div class="container">
    <div class="row justify-content-md-center">
        <div class="card window mx-auto mt-5 mx-4 p-5 signup">

            <h2>Create An Account</h2>

            <form class="mb-3 signup">
                <div class="form-group">
                    <label for="email-input">Email address</label>
                    <input type="email" class="border-0 form-control" id="email-input" placeholder="Email">
                </div>

                <div class="form-group">
                    <label for="username-input">Username</label>
                    <input type="text" class="border-0 form-control" id="username-input" placeholder="Username">
                </div>

                <div class="form-group">
                    <label for="display-name-input">Display Name</label>
                    <input type="text" class="border-0 form-control" id="display-name-input" placeholder="Display Name">
                </div>

                <div class="form-group">
                    <label for="password-input">Password</label>
                    <input type="password" class="border-0 form-control border-0" id="password-input"
                        placeholder="Password">
                </div>

                <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                    {{!-- <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> --}}
                    <span class="sr-only">Error:</span>
                    <span class="msg"></span>
                </div>

                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>

            <p>Or log in <a href="/login">here</a></p>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script language="JavaScript" type="text/javascript" src="./js/signup.js"></script>