/* Global Styles */

body {
    font-family: 'IBM Plex Mono', monospace;
}

header, .sidebar {
    background-color: #333366;
}

.card {
    background-color: #333366;
    color: white;
    border-style: none;
}

.link, .link:visited {
    color: white;
}

.link:hover {
    color: white;
    text-decoration: underline;
}

#search-bar {
    background-color: #333366;
}

#search-input {
    outline: none;
    background: transparent;
}

#search-input::placeholder {
    color: white;
}

#search-button:active, #search-button:focus {
    box-shadow: none;
}

#search-button:active > #search-icon {
    color: lightgray;
}

#search-input:focus, #post-title:focus, #post-body:focus {
    outline: none;
}
