/* Global Styles */

body {
    font-family: 'IBM Plex Mono', monospace;
}

.card {
    background-color: #333366;
    color: white;
    border-style: none;
}

.link {
    color: black;
}

.link:hover {
    color: black;
    text-decoration: underline;
}

.link:visited {
    color: black;
}

#search-bar {
    outline: none;
    background: transparent;
}

#search-button:active, #search-button:focus {
    box-shadow: none;
}

#search-button:active > #search-icon {
    color: black;
}

#search-bar:focus, #post-title:focus, #post-body:focus {
    outline: none;
}
