<div class="card p-4 my-3 border border-secondary">
    <h4 class="m-0">{{title}}</h4>
    <p class="m-0 text-muted">{{timestamp}}</p>
    <hr class="my-3 border-secondary">

    <p class="m-0">{{body}}</p>
</div>
