<div class="card users-card">
    <div class="card-header">
        <h2 class="card-title">{{ displayName }}</h2>
        <h3 class="card-title"><i class="fas fa-at"></i>{{ username }}</h3>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item">Activity: {{ Posts.length }}</li>
            <li class="list-group-item">Member Since: {{ createdAt.Year }}</li>
        </ul>
    </div>
</div>